<div id="nav-bar-home">
  <div>
    <i class="large material-icons">queue_music</i>
    <h3 id ="gig-db">GIG-db.com</h3>
  </div>
</div>

<div class="welcome">
<h3>Keep track of the concerts you've been to</h3><h3><%= link_to 'Show', concerts_path %></h3>
<h3>See where your favourite artists have played</h3><h3><%= link_to 'Show', concerts_path %></h3>
<h3>See photos of concerts you've been to or wish you'd attended</h3><h3><%= link_to 'Show', concerts_path %></h3>
</div>
