<h1>Testing the instagram api</h1>
<ul class= "photos"></ul>
<!-- <span class="insta_photo"></span> -->
<script type="text/x-handlebars-template" id="card-template">
  <li>
    <div class="user_details">
      <span class="tagline"></span>
      <a target="_blank" href="{{link}}">
        <img class="insta_photo" src="{{photo}}">
      </a>
        <img class="userphoto" src="{{tagline}}">
      <div class="username">@{{username}}</div>
    </div>
  </li>
</script>