
<ul class= "instagram"</ul>


<% @photos.each do |photo| %>
  <div class="instagram">
  <%= photo.photo.html_safe %> <%# VERY UNSAFE!!!!!! photo code comes from the user %>
  </div>
<% end %>

<%= link_to 'Back to my concert list', user_concerts_path(current_user) %>
