/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*body*/

document, body {
  margin:0;
  padding:0;
}

body {
  background-color: #fafafa;
  color: #303f9f;
  font-family: Maiden Orange;
  background: linear-gradient(to right, #fafafa, #303f9f 88%, #303f9f);
}

/*home page */

.welcome {
  background-image:url("Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 600px;

}

#img.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.welcome_link {
  font-size: 22px;
  color: #fafafa;
}

.welcome_link:visited {
  font-size: 22px;
  color: #fafafa;
}

h3 {
  color: #B22222;
  font-size: 20px;
  margin: 14px;
}

h2 {
  color: #fafafa;
  font-size: 22px;
}
/*concert search filters*/

.btn {
  padding: 10px 0px 10px 3px;
  outline: none;
  border: none;
  border-radius: 0.33rem;
  background-color: #B22222;
  color: #fafafa;
  font-weight: lighter;
  font-size: 20px;
  height: 42px;
  transition: 0.5s;
  font-family: Maiden Orange;
}

.btn:hover {
  box-shadow: none;
  color: #fafafa;
}

.input_field {
  border-style: solid;
  border-width: 3px;
  border-color: #303f9f;
  border-radius: 4px;
  color: #B22222;
  font-size: 20px;
  font-family: Maiden Orange;
  width: 250px;
  height: 42px;
  padding: 11px 0px 11px 3px;
  margin-left: 1px;
}

.user_input {
  border-width: 3px;
  border-color: #303f9f;
  border-radius: 4px;
  color: #B22222;
  font-size: 20px;
  font-family: Maiden Orange;
  width: 300px;
  height: 42px;
  padding: 15px 0px 10px 3px;
  margin-left: 16px;
}

select {
  background-color: #fafafa;
  height: 42px;
  border-width: 3px;
  border-color: #303f9f;
}

/*search fields positioning*/
#artist {
  position: absolute;
}

#venue {
  position: relative;
}

#city {
  position: relative;
}

#country {
  position: relative;
}

.new_user {
  font-size: 20px;
  margin-left: 16px;
}

.concert_search {
  display: inline block;
  float: left;
  width: 272px;
  margin-left: 8px;
  color: #B22222;
}
 
.concert_search:first-child {
  padding: 20px 0 0 0;
}

.new_concert {
  width: 850px;
}

.venue_search {
  display: inline block;
  float: left;
  width: 272px;
  margin-left: 8px;
  color: #B22222;
}

.hide {
  visibility: hidden
}

/*pagination*/
.pagination {
  clear:both;
  position:absolute;
  text-align:center;
}

.pagination span, .pagination a {
  display:inline-block;
  margin: 2px 2px 2px 0;
  padding:6px 9px 5px 9px;
  text-decoration:none;
  color: #B22222;
  background: #fafafa;
}

.pagination .current{
  margin: 2px 2px 2px 0;
  padding:6px 9px 5px 9px;
  background: #fafafa;
}

/*concert table details*/
th, td {
  padding: 4px;
  padding-left: 15px;
}

td {
  font-size: 20px;
}

.form-control {
  font-family: Maiden Orange;
  color: #B22222;
}

button, input, select, textarea {
  font-family: Maiden Orange;
  color: #B22222;
  position: relative;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #B22222;
}
/*header all pages, colour of header changes on the home page, though*/

.material-icons {
  color: white;
  font-size: 60px; 
}

#nav-bar {
  height: 60px;
  border-bottom: 4px solid #303f9f;
  background-color: #303f9f;
  width: 100%;
}

#nav-bar-home {
  border-bottom: 4px solid #000000;
  background-color: #000000;
}

#nav-bar #profile-image {
  height: 80%;
}

#profile-image img {
  border-radius: 50px;
}

#nav-bar div {
  display: inline-block;
  margin: 5px;
}

.large material-icons {
  position: absolute;
}
#gig-db {
  color: #fafafa;
  font-size: 40px;
  font-style: oblique;
  position: relative;
  float: right;
  font-family: Maiden Orange;
}

#logout {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.33rem;
  background-color: #fafafa;
  color: #fafafa;
  font-weight: lighter;
  font-size: 20px;
  transition: 0.5s;
  font-family: Maiden Orange;
  position: relative;
  float: right;
  text-align: center;
}

#logout:hover {
  box-shadow: none;
  background-color: #fafafa;
  color: #fafafa;
}

.welcome {
  color: #009ACD;
  font-size: 20px;
}

/*footer on all pages*/
/*#footer {
  width: 100%;
  background-color: #311b92;
  overflow: hidden;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 125px;
}

.footer-item {
  margin: 5px;
  display: inline-block;
  font-size: 15px;
}

.footer-item a {
  color: #fafafa;
}

.col { 
  background: #311b92;
  float: left;
  padding: 30px 0 0 35px;
  width: 310px;
  margin-left: 50px;
}
 
.col:first-child {
  padding: 30px 0 0 0;
}

a {
  text-decoration: underline;
}
a:hover {
  color: #B22222;

}

h1 {
  color:  #B22222;
}
 
h2 { 
  background: url(extra-title-bg.jpg); 
  color: #fafafa;
  float: left; 
  font-family: Maiden Orange; 
  font-variant: small-caps; 
  margin: 0 0 20px 0; 
  padding: 9px 0 0 19px; 
  height: 33px; 
  width: 291px;
}
 
ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  color: #fafafa;
}*/
 
/*li { 
  background: url(extra-links-bg.jpg); 
  border-bottom: 1px dotted #B22222; 
  border-top: 1px dotted #B22222; 
  float: left; 
  height: 35px; 
  margin: 3px 0;
  padding: 5px; 
  width: 310px; 
}*/

li a { 
  color: #fafafa;
  display: block;
  /*float: left; */
  text-decoration: none;
  font-family: Maiden Orange;
  font-size: 13px;
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
  width: 226px;
}
 
/*li:hover { 
  background: #B22222;
}*/

img {
  height: 226px;
  width: 226px;
}

.date_select {
  font-family: Maiden Orange;
}

/*photos*/
.photos li, .photos li {
  display: inline-block;
  width: 256px;
  height: 256px;
  margin: 0px 20px 20px 0px;
  list-style: none;
}

img, .insta_photo {
  display: inline-block;
  width: 229px;
  height: 226px;
  vertical-align: middle;
  background-color: none;
}

img, .insta_photo:hover {
  border:none;
}

.username {
  display: inline-block;
  width: 203px;
  height: 27px;
  /*margin-top: 1px;*/
  margin-left: 0px;
  margin-bottom: 21px;
  font-size: 20px;
  color: #fafafa;
  background-color: #000000;
}

.userphoto {
  display: inline-block;
  width: 26px;
  height: 27px;
  /*margin-top: 1px;*/
  margin-bottom: 21px;
  font-size: 18px;
  float: left;
  border-radius: 6px;
}

.instagram {
  display: inline-block;
  width: 279px;
  height: 276px;
  vertical-align: middle;
  background-color: none;
}

  /*.user_details {
    background: #303f9f;
  }*/
/*img {
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}*/

p {
  font-style: italic;
  color: #B22222;
}