<!-- <div id="footer"> -->
<!-- <div class="col">
  <h2>Social Media</h2>
  <ul>
    <li><a href="https://www.facebook.com">Facebook</a></li>
    <li><a href="https://www.twitter.com">Twitter</a></li>
    <li><a href="https://www.instagram.com">Instagram</a></li>
  </ul>
</div>
<div class="col">
  <h2>Contact Details</h2>
  <ul>
    <li>gigdb@gig-db.com</a></li>
    <li>128 W Hastings, Vancouver BC V6B 1G9</a></li>
    <li>+1 604 617 4567</li>
  </ul>
</div>
<div class="col">
  <h2>Legal</h2>
  <ul>
    <li>Security</a></li>
    <li>Terms of Use</a></li>
    <li>Privacy</a></li>
  </ul> -->
<!-- </div> -->